
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

:root{
	--verdeClaro: #8BEA23;
	--azul: #3D4FFF;
}

* {
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'Indie Flower', cursive;
	width: 100%;
	max-width: 1000px;
	background: #00ff0010;
}
#contenedor-body {
	
}

/**Estilos header**/
header { 
	height: 300px;
	position: relative;
	text-align: center;
	box-shadow: 0px 8px 12px 3px rgba(0,0,0,0.5);
	border-bottom: 2px solid black;
	z-index: -20;
}

#titulo_principal {
	position: absolute;
	font-size: 50px;
	color: white;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background: #00000099;
}


#back {
	height: 100%;
	background-image: url("../img/design1_image1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*#gradiente {
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgba(79,245,79,0.26) 0%, rgba(0,0,0,0.6) 100%);
}*/

#titulo_pagina {
	display: none;
}

#caja_logo {
	width: 150px;
	position: absolute;
	top: 1%;
	left: 1%;
}

#logo {
	width: 100%;

}

/**Estilos nav**/

nav {
	margin: 0 10%;
}

#menu {
	list-style: none;
	display: flex;
	align-items: flex-start;
	margin: 0;
}

.menu_link{
	text-decoration: none;
	font-size: 28px;
	color: black;
	
}

._select{
	background: var(--verdeClaro);
	font-weight: bold;
	padding: 0px 35px;
	box-shadow: 0px 8px 12px 3px rgba(0,0,0,0.75);
	z-index: -10;
}

._select a {
	font-size: 40px;
	color: white;
}

/**Estilos main**/

main {
	border: 2px solid var(--verdeClaro);
	margin:0 10%;
	margin-bottom: 30px;
	background-color: white;
	box-shadow: 0px 14px 12px 3px rgba(0,0,0,0.75);
	z-index: 20;
}

main h3 {
	margin-top: 20px;
	margin-left: 30px;
	color: var(--verdeClaro);
}

main p {
	margin-left: 60px;
}

main h2, main #aclaracion-reglas, main #aclaracion-schedule {
	text-align: center;
	margin: 0;
}


/**Estilo listas**/

#contenedor-reglas {
	margin: 30px;
}

#contenedor-reglas h3{
	margin-left: 0;
	color: var(--azul);
}

#contenedor-reglas span {
	font-weight: bold;
}

ol, ul {
	margin-left: 30px;
}


/**Estilo tablas**/
#contenedor-tablas {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.horarios th{
	background: var(--azul);
	text-align: left;
	color: white;
}

.horarios td{
	border-left: 1px grey solid;
}
.horarios .fecha td{
	border-top: 1px grey solid;
	border-collapse: collapse;
}

.horarios {
	width: 47%;
	border: 2px solid var(--azul);
	border-collapse: collapse;
}

.horarios tbody * {
	padding-left: 5px;
}


#escuelas {
	width: 90%;
	margin: 0 auto;
}

#informacion {
	width: 90%;
	margin: 30px;
}

#informacion p {
	margin-left: 5px;
}

#informacion .bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

/**Estilos Formulario**/
form {
	margin: 30px;
}

form div {
	margin-bottom: 15px;
	width: 100%;
}

form input[type="text"], input[type="tel"], input[type="email"] {
	width: 25%;
	border: none;
	border-bottom: 2px var(--azul) solid;
}

form .schools {
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: auto auto;
}

form .schools label {
	grid-column-start: 1;
	grid-column-end: 3;
}

/**Estilos mapa**/
#mapa {
	margin: auto;
	width: 90%;
	height: 300px;
	border: 2px var(--verdeClaro) solid;
}

#mapa iframe {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 850px){
	#menu {
		flex-direction: column;
	}
	#menu li {
		display: none;
	}

	#menu ._select {
		display: inline;
	}
}